@media (max-width: 1200px) {

    .withdrawals__inner {

        display: block;
    }

    .withdrawals__col {

        max-width: 100%;
        margin-bottom: 20px;
    }

    .page-404__404 {

        &::before {

            display: none;
        }
    }

    .contact__form .contact__form-row input {

        width: 49%;
    }
}




@media (max-width: 1150px) {

    .footer__inner {

        flex-wrap: wrap;
    }

    .footer__col-adress {

        margin-bottom: 30px;
        min-width: 100%;
    }

    .header__text {

        display: none;
    }


}

@media (max-width: 1000px) {

    .page-box__content {

        padding: 30px 20px 30px;
    }

    .product-one__tabs.settings__tabs .tabs {

        margin-right: 5px;
    }

    .settings {

        padding-bottom: 30px;
    }
}

@media (max-width: 900px) {

    .footer__col-social {

        margin-bottom: 30px;
        margin-top: 30px;
        min-width: 100%;
    }

    .footer__inner {

        justify-content: flex-start;
    }

    .footer__col-menu {

        &+& {

            margin-left: 40px;
        }
    }

    .page-404__404::after {

        width: 130px;
        height: 253px;
        background-size: cover;
        top: 85px;
        margin-left: 0;
    }

    .contact__form .contact__form-row {

        display: block;

        input {

            width: 100%;
            margin-bottom: 15px;
        }
    }

    .contact__info {

        margin-right: 5px;
    }

    .profile__inner {

        flex-direction: column;
        margin-bottom: 15px;
    }

    .profile__content {

        order: -1;
    }

    .profile__banner {

        margin-bottom: 15px;
    }

    .profile__items {

        margin-bottom: 15px;
    }

    .profile__aside {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        max-width: 100%;
    }

    .product__aside {

        width: 45%;
        padding-bottom: 10px;

        .aside__title {

            padding: 10px 0;
        }

        .product-author__box {

            margin: 10px 0;
        }
    }

    .footer__social-link {

        display: flex;
        flex-direction: column;
        margin-top: 22px;
    }

    .profile__aside-btn {

        width: 45%;
        margin-top: 20px;
    }

    .profile__aside-message::before {

        left: 25%;
    }
}

@media (max-width: 840px) {

    .circle__menu {

        z-index: 5;
    }

    .user__menu {

        z-index: 5;
    }

    .menu__list {

        display: none;
        background-color: $bg;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        z-index: 4;
        text-align: center;

        a {

            display: block;
            padding: 10px 0;
            border-bottom: 1px solid $text;
        }

        li {

            display: block;

            &+li {

                margin-left: 0;
            }

            &:first-child {

                border-top: 1px solid $text;
            }
        }
    }

    .menu__btn {

        display: block;
        width: 30px;
        cursor: pointer;

        div {

            background-color: #fff;
            height: 3px;

            &+div {

                margin-top: 5px;
            }
        }
    }

    .page-404__404::after {

        width: 110px;
        height: 214px;
        background-size: cover;
        top: 125px;
    }

    .upload__inner-title {

        margin-bottom: 20px;
    }

    .upload-line {

        display: block;
        margin-bottom: 20px;

        label {

            display: inline-block;
            margin-bottom: 5px;
        }
    }

    .upload__inner {

        margin-bottom: 50px;

        button {

            margin-left: 0;
        }
    }

    .upload__inner-content {

        margin-bottom: 20px;
    }
}

@media (max-width: 780px) {

    .page-404__404::after {

        width: 80px;
        height: 156px;
        background-size: cover;
        top: 95px;
        right: 30px;
    }
}

@media (max-width: 740px) {

    .page-404__404 {

        font-size: 200px;
        line-height: 200px;
    }

    .page-404__title {

        font-size: 24px;
        margin-bottom: 20px;
        line-height: 30px;
    }

    .page-404__text {

        font-size: 15px;
        margin-bottom: 40px;
    }

    .page-404__link {

        padding: 10px 30px 8px;
    }

    .page-404__404::after {

        width: 80px;
        height: 156px;
        background-size: cover;
        top: 95px;
        right: 40px;
    }

    .about__wrapper {

        margin-bottom: 100px;
    }

    .about__inner {

        padding: 0 20px;
    }

    .product-one__tabs.settings__tabs .tabs .angle-right {


        padding: 12px 5px 10px 20px;

        &::before {

            left: 8px;
            top: 11px;
        }
    }

    .page-box__content {

        padding: 20px 10px 0px;
    }

    .profile__aside-message::before {

        left: 20%;
    }
}

@media (max-width: 680px) {

    .product-one__tabs.settings__tabs {

        display: block;
    }

    .product-one__tabs.settings__tabs .tabs {

        max-width: 100%;
        margin-bottom: 10px;
    }

    .product__aside {

        padding-right: 10px;
        padding-left: 10px;
    }

    .profile-settings .product-one__tabs.settings__tabs .tabs span {

        text-align: center;

        &.about__tab::before {

            right: 100px;
        }

        &.products__tab::before {

            right: 130px;
        }

        &.message__tab::before {

            right: 125px;
        }

        &.review__tab::before {

            right: 190px;
        }

        &.followers__tab::before {

            right: 135px;
        }
    }


}

@media (max-width: 640px) {

    .notification__box,
    .message__box {

        display: none;
    }

    .circle__menu {

        left: auto;
    }

    .withdrawals__content-history {

        padding: 30px 0px;
    }

    .withdrawals__content-line {

        padding: 0 5px;
    }

    .upload__inner-content {

        padding: 0 20px;
    }

    .contact__inner {

        padding-left: 15px;
        padding-right: 15px;

        .contact__map {

            margin-bottom: 20px;
            border-bottom: 1px solid #dedede;
        }
    }

    .contact__box {

        display: block;

        .contact__info {

            max-width: 100%;
            margin-bottom: 15px;
            border-bottom: 1px solid #dedede;

            .contact__info-item {

                margin-bottom: 15px;

                .contact__info-content {

                    margin-top: 15px;
                }
            }
        }

        .contact__form-title {

            margin-bottom: 15px;
        }
    }

    .profile__aside-message::before {

        left: 15%;
    }
}

@media (max-width: 600px) {

    .page-404__wrapper {

        margin-bottom: 100px;
    }

    .page-404__inner {

        padding: 0 15px;
    }

    .page-404__404 {

        font-size: 120px;
        line-height: 120px;

        &::after {

            width: 40px;
            height: 78px;
            background-size: cover;
            top: 5px;
            right: 46%;
            margin: 0;
        }
    }

    .page-404__link {

        margin-bottom: 50px;
    }
}

@media (max-width: 540px) {

    .footer__col {

        min-width: 100%;
    }


    .footer__col-menu {

        &+& {

            margin-left: 0;
            margin-top: 30px;
        }
    }

    .withdrawals__content-history {

        overflow-x: scroll;
    }

    .withdrawals__content-line {

        min-width: 490px;
    }

    .profile__aside-message::before {

        left: 15%;
    }

    .profile__aside {

        position: relative;

        .product__aside {

            width: 49%;
            padding: 0 5px 5px 5px;
        }

        .footer__social-link {

            order: 1;
            flex-direction: row;
            margin: 0;
            top: 148px;
            margin-left: 51%;
            position: absolute;

            li {

                margin-right: 10px;
            }
        }

        .profile__aside-btn {

            margin-top: 0;
            margin-bottom: 0;
            width: 49%;

        }

        .author__awards-list {

            margin-bottom: 5px;
        }
    }
}

@media (max-width: 520px) {

    .header__box {

        position: absolute;
        height: 62px;
        background-color: #fff;
        transition: all .3s;
        left: 100%;
        right: -100%;

        &.active {

            height: 62px;
            left: 50px;

        }
    }

    .header__btn-menu {

        display: block;
    }

    .header__btn-menu {

        width: 70px;
        height: 70px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;

        &::before {

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 36px;
            color: $bg;
            background-color: #fff;
        }
    }

    .header__logo {

        margin-left: 60px;
    }

    .menu__btn {

        position: absolute;
        top: 26px;

        div {

            background-color: $bg;
        }
    }

    .header__top-inner {

        height: 70px;
    }

    .user__box {

        height: 60px;
        margin-top: 10px;

        .user__menu {

            top: 60px;
        }
    }

    .basket__box {

        height: 53px;
        margin-top: 16px;
    }

    .circle__menu {

        top: 53px;
        right: auto;
    }

    .menu__list {

        top: 70px;
    }
}

@media (max-width: 495px) {

    .user {

        top: 7px;
    }

    .user__info {

        display: none;
    }

    .user__images {

        margin-right: 0;
    }

    .page-404__404::after {

        right: 45%;
    }

    .about__head {

        padding: 15px 20px;
    }

    .about__box {

        h3 {

            margin-top: 20px;
        }

        p {

            margin-bottom: 20px;
        }
    }

    .settings__line {

        display: block;

        input {

            margin-top: 10px;
        }

        .jq-selectbox__select {

            margin-top: 10px;
        }
    }

    .product-one__tabs {

        margin-bottom: 30px;
    }

    .profile__aside {

        .author__awards-list {

            li {

                margin-right: 2px;
            }
        }
    }

    .profile__aside-message::before {

        left: 12%;
    }
}

@media (max-width: 440px) {

    .profile__aside {

        display: block;

        .product__aside {

            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }

        .aside__title {

            text-align: center;
        }

        .product-author__box {

            justify-content: center;
        }

        .author__awards-list {

            justify-content: space-evenly;
        }

        .footer__social-link {

            position: inherit;
            top: 0;
            margin: 0;
            margin-bottom: 5px;
            justify-content: center;

            li {

                margin-right: 15px;
            }
        }

        .profile__aside-btn {

            width: 100%;

            .profile__aside-message::before {

                left: 25%;
            }
        }
    }
}

@media (max-width: 390px) {

    .header__box {

        &.active {

            left: 50px;
        }
    }

    .basket__box {

        margin-left: 10px;
    }

    .user {

        margin-left: 10px;
    }

    .page-404__404::after {

        right: 44%;
    }

    .about__wrapper {

        margin-bottom: 50px;
    }

    .about__inner {

        padding: 0 10px;
    }

    .profile__items {

        flex-direction: column;

        .profile__item {

            width: 100%;
            border-bottom: 1px solid #dedede;

            &:last-child {

                border-bottom: none;
            }
        }
    }


}

@media (max-width: 360px) {

    .user {

        margin-right: 10px;
    }

    .basket {

        margin-right: 10px;
    }

    .header__logo {

        margin-left: 50px;
    }

    .circle__menu {

        left: -20px;
    }

    .header__btn {

        margin-left: 5px;
    }

    .page-404__404::after {

        right: 43%;
    }

    .settings__tabs {

        .page-box__title {

            padding-right: 0px;
            padding-left: 0px;
            text-align: center;
        }
    }

    .profile__aside {

        .profile__aside-btn {

            .profile__aside-message::before {

                left: 20%;
            }
        }
    }

}

@media (max-width: 340px) {

    .user {

        margin-right: 0;
    }

    .circle__menu {

        left: -35px;
    }

    .header__btn-login {

        margin-left: 0;
    }

    .header__btn-menu {

        width: 40px;
    }

    .withdrawals__content {

        button {

            padding: 8px 20px;
        }
    }

    .about__head {

        font-size: 22px;
    }

    .upload__inner-title {

        font-size: 23px;
        padding: 16px 25px 18px;
    }

    .upload-line {

        textarea {

            padding: 7px;
        }

        input {

            padding: 0 10px;
        }
    }

    .upload__inner-content {

        padding: 0 10px;
    }
}

@media (max-width: 330px) {

    .circle__menu {

        left: -47px;
    }
}





@media (min-width: 841px) {

    .menu__list {

        display: block !important;
    }
}